$blue: rgb(139, 157, 195);
$darkBlue: rgb(059, 089, 152);
$lightBlue: rgb(223, 227, 238);
$gray: rgb(247, 247, 247);
$white: rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.app {
  text-align: center;
  background: black;
  color: $white;
  height: 100%;
}

.app.timerActive {
  background: $gray;
}

.app-logo {
  height: 80px;
}

.app-logo.animate {
  animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-header {
  background-color: $darkBlue;
  height: 150px;
  padding: 20px;
  color: $white;
  font-size: 1.5em;
}

.time-container {
  font-size: 15em;
  margin: 0;
}

.time-container.down {
  color: red;
}

.time-container.down.ready {
  color: green;
}

.app.timerActive .time-container,
.app.timerActive .timelist,
.app.timerActive .stats {
  color: black;
}

.time {
  font-family: Courier;
}

.timelist, .stats {
  font-size: 1.5em;
}

.timelist {
  padding: 0 40%;
}

.stats {
  list-style: none;
  padding: 0;
  height: 60px;
  width: 100%;
}
.stats li {
  float: left;
  width: 25%;
}

@media only screen 
and (max-width : 1024px)  {
  h2 {
    margin: 0
  }
  .app-logo {
    height: 40px;
  }
  .app-header {
    height: 60px;
    font-size: .8em;
  }
  .time-container {
    font-size: 7em;
  }
}

@media only screen 
and (max-width : 667px)  {
  .app-header {
    height: 17%;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  .app-body {
    height: 85%;
  }
  .time-container {
    font-size: 4em;
  }
  .stats {
    height: 132px;
  }
  .stats li{
    width: 50%;
    margin-bottom: 10px;
  }
  .timelist {
    padding: 0 20%;
  }
  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
  }
}